form {
  color: var(--gray-color);
  margin-bottom: 48px;
}

.form_item {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: var(--gray-ligth);
  margin-bottom: 5px;
  padding-left: 12px;
  margin-top: 10px;
}

.input {
  background: var(--gray);
  border-radius: 10px;
  max-width: 343px;
  height: 36px;
  border: none;
  outline: none;
  color: var(--white);
  padding-left: 12px;
}

.input::placeholder {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: var(--gray-ligth);
  padding: 6.5px 0 7.5px 0;
}

.response {
  margin-top: 23px;
}

.input_response {
  width: 343px;
  height: 120px;
}

.submit_btn {
  margin-top: 48px;
}

.inputFile {
  /* display: none; */
}

.uploadLabel {
  width: 122px;
  height: 86px;
  background: var(--gray);
  border-radius: 10px;
  position: relative;
}

.uploadLabel > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Можно было скрыть через display: none; and visibility: hidden;, но тогда инпут потеряет фокус, а для некоторых доступность одно из главных характеристик на сайте  */
.upload_container {
  position: relative;
  z-index: 10;
}

.upload_container input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

