.header {
  padding-top: 40px;
  padding-left: 17px;
  padding-bottom: 24px;
}

.header_link {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;

  text-align: center;
  letter-spacing: -0.408px;
  text-decoration: none;
  color: var(--white);
}
.header_link + .header_link {
  margin-left: 38px;
}

